<ion-header>
  <ion-toolbar>
    <ion-title>Assessment</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" type="icon" (click)="goToQuestion(this.state.cameraStep  - 1, false)">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="spinner-container" *ngIf="spinner">
    <ion-spinner></ion-spinner>
  </div>
  <div class="container ion-padding">
    <h2 class="heading">Summary</h2>
    <p>Almost done! Please review your photos and answers, then tap <strong>Send</strong> to send your Assessment to your Advisor.</p>
    <div class="photo-preview">
      <h5>Photos</h5>
      <app-photo-preview [photo]="state.photo"></app-photo-preview>
    </div>
    <div class="question-review">
      <h5>Answers</h5>
      <div class="question" *ngFor="let question of state.questions; let i = index" tappable
           (click)="goToQuestion(i)">
        <div class="title">{{ question.title }}</div>
        <div class="answer">{{ question | questionAnswer }}</div>
      </div>
    </div>
    <ion-button expand="full" (click)="submitAssessment()">Send</ion-button>
  </div>

</ion-content>
