.nav-container {
  display: flex;
  height: var(--app-bottom-menu-height, 75px);
  flex-flow: row;
  border-top: 1px solid rgba(0,0,0, 0.05);

  .nav-item {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 2px;
    position: relative;

    ion-chip {
      background: var(--ion-color-primary);
      position: absolute;
      height: 10px;
      width: 10px;
      color: white;
      padding: 10px;
      display: flex;
      justify-content: space-evenly;
      font-size: 10px;
      left: 40px;
      top: 25px;
      font-weight: 600;
    }

    &.active, &.multi-active {
      ion-icon {
        color: var(--ion-color-primary);
        --icon-default-outer-fill: var(--azure);
        --icon-default-fill: var(--pale-sky-blue);
      }
    }

    ion-icon {
      font-size: 25px;
      //color: rgba(0,0,0, 0.2);
    }

    .nav-name {
      font-size: 12px;
    }
  }
}
