<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/" text="Login"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="spinner-container" *ngIf="spinner">
    <ion-spinner></ion-spinner>
  </div>
  <div class="global-container">
    <app-logo></app-logo>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Confirm Password" formControlName="password_confirmation"></ion-input>
      </ion-item>
      <div class="global-center-btn global-margin-top-15">
        <ion-button type="submit" expand="full" [disabled]="form.invalid">Change Password</ion-button>
      </div>
    </form>
  </div>
</ion-content>
