<ion-header>
  <ion-toolbar>
    <ion-title>My Advisor Messages</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleUnread()"><ion-icon slot="icon-only"
              color="primary"
              [name]="this.unreadOnly ? 'mail-unread' : 'mail'"
              size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spinner-container" *ngIf="spinner">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list>
    <ion-item *ngIf="conversations.length === 0" lines="none">
      <ion-label class="ion-text-center">No messages.</ion-label>
    </ion-item>
    <ion-item *ngFor="let convo of visibleConversation; trackBy: trackById;" (click)="goToMessages(convo.transphormerId)" [ngClass]="{ 'read': +convo.unread_count === 0, 'unread': +convo.unread_count !== 0}">
      <ion-icon large slot="start" [name]="(convo.unread_count === 0 ? 'mail' : 'mail-unread')"></ion-icon>
      <ion-label>
        <ion-text>{{ convo.display_name }}</ion-text>
        <p><ion-icon size="small" name="share-alt" *ngIf="convo.i_sent_last_message"></ion-icon> {{ convo.message }}</p>
        <p>{{ convo.ts | date : 'short' }}</p>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <div class="tb-logo"></div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="50px" [disabled]="noMoreMessages" (ionInfinite)="loadMoreMessages($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
