ion-item.meal-food-item {
    padding-left: 0px;
    ion-label {
        white-space: normal;
        font-size: 14px;
    }
    .dim {
        &.food {
            color: var(--ion-color-text);
            width: 40px;
            ion-icon {
                font-size: 24px;
            }
            img {
                width: 30px;
                height: auto;
            }
        }
        &.more {
            font-size: x-large;
        }
    }
}