<ion-header>
  <ion-toolbar>
    <ion-title>My Foods</ion-title>
    <ion-buttons slot="end">
      <div class="tb-logo"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spinner-container" *ngIf="spinner">
    <ion-spinner></ion-spinner>
  </div>
  <div class="ion-padding">
    <div class='empty-state' *ngIf="list.length == 0">
      <p>Use this area to add and organize your custom meals.</p>
      <p> Italian wedding soup? Steak salad? Loaded tropical smoothie? Pre-program your meals here for easy access later.</p>
      <img src='assets/icon/food.png' />
    </div>
    <ion-button color="primary" expand="full" fill="clear" (click)="openAddCustomFoodModal()">
      <ion-icon slot="start" name="add"></ion-icon> Add New Food</ion-button>
  </div>
  <ion-list>
    <ion-item *ngFor="let listItem of list" class="meal-food-item">
      <ng-container [ngSwitch]="listItem.type">
        <ng-container *ngSwitchCase="'custom-food'">
          <div class="dim food">
            <img src="assets/icon/food.png"/>
          </div>
          <ion-label>{{ listItem.item.name }}</ion-label>
          <div class="dim more" tappable (click)="more($event, listItem)">
            <ion-icon name="md-more"></ion-icon>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'meal'">
          <div class="dim food">
            <ion-icon name="restaurant"></ion-icon>
          </div>
          <ion-label>
            {{ listItem.item.name }}
          </ion-label>
          <div class="dim more" tappable (click)="more($event, listItem)">
            <ion-icon name="md-more"></ion-icon>
          </div>
        </ng-container>
      </ng-container>
    </ion-item>
  </ion-list>
</ion-content>
