<div class="question-container">
  <ng-container *ngIf="!showSkeleton">
    <h4 class="title">{{ question.title }}</h4>
    <div *ngIf="question.description">
      <p [innerHTML]="question.description"></p>
    </div>
    <div class="options">
      <app-question-option *ngFor="let option of question.options"
                           (click)="optionSelected.emit(option)"
                           [class.selected]="option.is_selected || option.value === value"
                           [option]="option">
      </app-question-option>
    </div>
  </ng-container>
  <ng-container *ngIf="showSkeleton">
    <h3 class="title">
      <ion-skeleton-text animated width="50%"></ion-skeleton-text>
    </h3>
    <div class="options">
      <ion-item lines="none" class="option" type="button">
        <ion-skeleton-text animated slot="start" width="10%"></ion-skeleton-text>
        <ion-skeleton-text width="50%" animated></ion-skeleton-text>
      </ion-item>
      <ion-item lines="none" class="option" type="button">
        <ion-skeleton-text animated slot="start" width="10%"></ion-skeleton-text>
        <ion-skeleton-text width="50%" animated></ion-skeleton-text>
      </ion-item>
      <ion-item lines="none" class="option" type="button">
        <ion-skeleton-text animated slot="start" width="10%"></ion-skeleton-text>
        <ion-skeleton-text width="50%" animated></ion-skeleton-text>
      </ion-item>
    </div>
  </ng-container>
</div>
