ion-toolbar {
  ion-buttons {
    padding: 8px;
  }
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: #f2f2f2;
  height: 56px;
  width: 100%;

  .title {
    font-size: 14px;
    color: #1ba9cc;
    font-weight: 900;
  }

  .tag {
    font-weight: 100;
    font-size: 12px;
    padding: 3px 0;
    line-height: 20px;
  }
}

section.main_section {
  height: 100%;
}

.other-listing {
  height: calc(100% - 100px);
  overflow-y: auto;
}

section.edit-food {
  height: 100%;
}
