<ion-content class="ion-padding">
  <div class="spinner-container" *ngIf="spinner">
    <ion-spinner></ion-spinner>
  </div>
  <div class="full-height flexible-container">
    <app-logo></app-logo>
    <h3 class="ion-text-center">Forgot Password</h3>
    <div class="description ion-text-center">Enter your email to recover password</div>
    <form [formGroup]="form">
      <div class="global-input">
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </div>
      <div class="global-input">
        <ion-button type="button" fill="solid" (click)="submit()" expand="block"
                    [disabled]="form.invalid">
          Recover my password
        </ion-button>
      </div>
      <div class="global-input ion-text-center">
        <ion-label>Don't have an account? <span tappable routerLink="/register" routerDirection="root">Create account</span>
        </ion-label>
      </div>
    </form>
    <div class="mt-auto ion-text-center global-input">
      <ion-label>
        <span tappable routerLink="/" routerDirection="back">Back to Login</span>
      </ion-label>
    </div>
  </div>
</ion-content>
