<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Food Guide</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>Proteins</ion-list-header>
    <ion-item lines="full">beef, lean ground</ion-item>
    <ion-item lines="full">buffalo</ion-item>
    <ion-item lines="full">chicken breast</ion-item>
    <ion-item lines="full">cottage cheese, low fat</ion-item>
    <ion-item lines="full">crab</ion-item>
    <ion-item lines="full">egg substitutes</ion-item>
    <ion-item lines="full">egg whites</ion-item>
    <ion-item lines="full">haddock</ion-item>
    <ion-item lines="full">ham, lean</ion-item>
    <ion-item lines="full">lobster</ion-item>
    <ion-item lines="full">orange roughy</ion-item>
    <ion-item lines="full">salmon</ion-item>
    <ion-item lines="full">shrimp</ion-item>
    <ion-item lines="full">steak, top round</ion-item>
    <ion-item lines="full">steak, top sirloin</ion-item>
    <ion-item lines="full">swordfish</ion-item>
    <ion-item lines="full">tuna</ion-item>
    <ion-item lines="full">turkey, breast</ion-item>
    <ion-item lines="none">turkey, lean ground</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header class="ion-text-capitalize">Carbs</ion-list-header>
    <ion-item lines="full">apple</ion-item>
    <ion-item lines="full">barley</ion-item>
    <ion-item lines="full">beans</ion-item>
    <ion-item lines="full">bread, whole-wheat</ion-item>
    <ion-item lines="full">brown rice, steamed</ion-item>
    <ion-item lines="full">corn</ion-item>
    <ion-item lines="full">melon</ion-item>
    <ion-item lines="full">oatmeal</ion-item>
    <ion-item lines="full">orange</ion-item>
    <ion-item lines="full">pasta, whole grain</ion-item>
    <ion-item lines="full">potato, baked</ion-item>
    <ion-item lines="full">pumpkin</ion-item>
    <ion-item lines="full">squash</ion-item>
    <ion-item lines="full">strawberries</ion-item>
    <ion-item lines="full">sweet potato</ion-item>
    <ion-item lines="full">wild rice, steamed</ion-item>
    <ion-item lines="full">ram</ion-item>
    <ion-item lines="full">yogurt, fat-free</ion-item>
    <ion-item lines="none">peas</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header class="ion-text-capitalize">Vegetable</ion-list-header>
    <ion-item lines="full">broccoli</ion-item>
    <ion-item lines="full">artichoke</ion-item>
    <ion-item lines="full">asparagus</ion-item>
    <ion-item lines="full">brussel sprouts</ion-item>
    <ion-item lines="full">cabbage</ion-item>
    <ion-item lines="full">carrots</ion-item>
    <ion-item lines="full">cauliflower</ion-item>
    <ion-item lines="full">celery</ion-item>
    <ion-item lines="full">cucumber</ion-item>
    <ion-item lines="full">green beans</ion-item>
    <ion-item lines="full">green peppers</ion-item>
    <ion-item lines="full">lettuce</ion-item>
    <ion-item lines="full">mushrooms</ion-item>
    <ion-item lines="full">onion</ion-item>
    <ion-item lines="full">spinach</ion-item>
    <ion-item lines="full">tomato</ion-item>
    <ion-item lines="none">zucchini</ion-item>
  </ion-list>
</ion-content>
