<div class="macro-box">
  <div>{{ currentNutritionValue.toFixed(0) }}
    <ion-icon name="ios-checkmark-circle" color="success" *ngIf="withinMacroTarget"></ion-icon>
  </div>
  <div class="goal-bar">
    <div class="progress" [ngStyle]="{'width': (percentage > 100 ? 100 : percentage) + '%', 'background-color': changeBarColor}"></div>
  </div>
  <div class="content">
    <p class='macro-type'>{{ categoryName }}</p>
    <p>Goal {{ goalValue.toFixed(0) }}
      <span *ngIf="categoryName !== 'Calories'">g</span>
    </p>
  </div>
</div>