
ion-row {
  margin: 0 -5px;
}

div.description {
  font-size: small;
  margin-top: var(--default-margin);
}

.global-container {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.div_buttons {
  margin-top: auto;
}