:host {
  display: flex;
  height: 100%;
}

.advisor-image {
  height: 128px;
  margin: 0 auto var(--default-margin);
  text-align: center;
  font-size: 128px;
  width: 128px;
  img {
    border-radius: 50%;
  }
}

ion-list-header {
  --ion-color-header: var(--ion-color-dark-contrast);
  --color: var(--ion-color-dark);
  --font-weight: 600;
  border-bottom: 1px solid var(--ion-color-light-shade);
  text-transform: none;

  &:first-child {
    margin-top: 20px;
  }
}

ion-item {
  border-style: solid;
  border-color: var(--ion-color-light-shade);
  border-width: 0 0 1px 0;
  --inner-border-width: 0;
  padding: var(--default-margin) 0;
}
