<ion-header>
  <ion-toolbar>
    <ion-title>Workouts</ion-title>
    <ion-buttons slot="end">
      <div class="tb-logo"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spinner-container" *ngIf="spinner">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list>
    <form [formGroup]="form" (ngSubmit)="updateProfile()">
      <div class="global-input ion-padding">
        <ion-label position="stacked">What level of exercise are you ready for?</ion-label>
        <ion-select formControlName="training_level" placeholder="Please Select">
          <ion-select-option *ngFor="let trainingLevel of trainingLevels" [value]="trainingLevel.value">{{ trainingLevel.name }}
          </ion-select-option>
        </ion-select>
      </div>
      <div class="global-input ion-padding">
        <ion-label position="stacked">Are you working out in a gym?</ion-label>
        <ion-segment mode="ios" [value]="form.get('access_to_gym').value" (ionChange)="gymChanged($event)">
          <ion-segment-button mode="ios" [value]="1">
            <ion-label>Yes</ion-label>
          </ion-segment-button>
          <ion-segment-button mode="ios" [value]="0">
            <ion-label>No</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
      <div class="premium-note green" *ngIf="is_free_user && atHomeWorkoutsAreFree && +form.get('access_to_gym').value !== 0">
        <p>At-home training programs are temporarily free in response to the COVID-19 situation! Switch to make that your main workout program. Stay safe out there!</p>
      </div>
      <div class="premium-note green" *ngIf="is_free_user && atHomeWorkoutsAreFree && +form.get('access_to_gym').value === 0">
        <p>The at-home training programs are temporarily free as a courtesy from your 1P Phamily! Stay safe and take your Greens and Reds!</p>
      </div>
      <div class="global-input ion-padding" *ngIf="+form.get('access_to_gym').value === 1">
        <ion-label position="stacked">What equipment do you have available?
        </ion-label>
        <ion-select formControlName="gym_workout_selection" placeholder="Please Select">
          <ion-select-option *ngFor="let programType of programTypes" [value]="programType.value">{{ programType.name }}
          </ion-select-option>
        </ion-select>
      </div>
      <div class="global-input ion-padding" *ngIf="+form.get('access_to_gym').value === 0">
        <ion-label position="stacked">What kind of workout do you want to do?</ion-label>
        <ion-select formControlName="gym_workout_selection" placeholder="Please Select">
          <ion-select-option *ngFor="let programType of programTypes" [value]="programType.value">{{ programType.name }}
          </ion-select-option>
        </ion-select>
      </div>
      <div class="premium-note" *ngIf="is_free_user && form.get('gym_workout_selection').value && form.get('gym_workout_selection').value != getProgramType(2).value && +form.get('access_to_gym').value === 1">
        <p>The
          <strong>{{ getProgramType(form.get('gym_workout_selection').value).name }}</strong> training program is only available
          to Premium subscribers. You will default to the free option.
        </p>
        <ion-button class="premium" fill="solid" color="warning" size="small" shape="round" (click)="goPremium()">Go Premium &rarr;</ion-button>
      </div>
      <div class="premium-note" *ngIf="is_free_user && !atHomeWorkoutsAreFree && +form.get('access_to_gym').value === 0">
        <p>The
          <strong>at-home workout</strong> training programs are only available to Premium subscribers. You will default to the Traditional
          gym workout.
        </p>
        <ion-button class="premium" fill="solid" color="warning" size="small" shape="round" (click)="goPremium()">Go Premium &rarr;</ion-button>
      </div>
      <div class="global-input ion-padding">
        <ion-label position="stacked">Rest Day on</ion-label>
        <ion-select formControlName="rest_day_config" placeholder="Please Select">
          <ion-select-option value="">No Preference</ion-select-option>
          <ion-select-option [value]="1">Monday</ion-select-option>
          <ion-select-option [value]="2">Tuesday</ion-select-option>
          <ion-select-option [value]="3">Wednesday</ion-select-option>
          <ion-select-option [value]="4">Thursday</ion-select-option>
          <ion-select-option [value]="5">Friday</ion-select-option>
          <ion-select-option [value]="6">Saturday</ion-select-option>
          <ion-select-option [value]="0">Sunday</ion-select-option>
        </ion-select>
      </div>
      <div class="global-input ion-padding padding">
        <ion-button type="submit" color="primary" expand="full">Update</ion-button>
      </div>
    </form>
  </ion-list>
</ion-content>
