<ion-header>
  <ion-toolbar>
    <ion-title>Create Announcement</ion-title>
    <ion-buttons slot="end">
      <div class="tb-logo"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="spinner-container" *ngIf="spinner">
    <ion-spinner></ion-spinner>
  </div>
  <ion-item>Filters
    <ion-button slot="end" color="secondary" (click)="openFilterModal()">Show</ion-button>
  </ion-item>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item color="tertiary" class="ion-text-center">
      <ion-label>Sending to <ion-spinner name="dots" *ngIf="isFiltering"></ion-spinner> {{ filteredTransphormers }} of {{ totalTransphormers }} Transphormers</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Heading</ion-label>
      <ion-input placeholder="Heading" formControlName="heading"></ion-input>
    </ion-item>
<!--    <ion-item>-->
<!--      <ion-label position="stacked">Video / Image</ion-label>-->
<!--      <ion-button color="primary" type="submit">-->
<!--        Add Video or Image-->
<!--      </ion-button>-->
<!--    </ion-item>-->
    <ion-item>
      <ion-label position="stacked">Message</ion-label>
      <ion-textarea autocapitalize="on" rows="8" placeholder="Message Body" formControlName="announcements"></ion-textarea>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button color="danger" type="button" (click)="cancel()">Cancel</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="primary" type="submit" [disabled]="form.invalid || isFiltering || filteredTransphormers === 0">Send Now
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
