<ion-header>
  <ion-toolbar>
    <ion-title>My Foods</ion-title>
    <ion-buttons slot="end">
      <div class="tb-logo"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class='empty-state' *ngIf="list.length == 0">
    <p>Use this area to add and organize your custom meals.</p>
    <p> Italian wedding soup? Steak salad? Loaded tropical smoothie? Pre-program your meals here for easy access later.</p>
    <img src='assets/icon/food.png' />
  </div>
  <ion-button color="primary" expand="full" fill="outline" (click)="openAddCustomFoodModal()">
    <ion-icon slot="start" name="add"></ion-icon> Add New Food</ion-button>
  <ion-list>
    <ion-item *ngFor="let listItem of list">
      <ng-container [ngSwitch]="listItem.type">
        <ng-container *ngSwitchCase="'custom-food'">
          <ion-label>{{ listItem.item.name }}</ion-label>
          <ion-button fill="clear" (click)="openEditFoodModal(listItem.item)">
            <ion-icon name="create" mode="md" class="ion-float-right"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" (click)="removeTemplate(listItem.type, listItem.item)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ng-container>
      </ng-container>
      <ng-container [ngSwitch]="listItem.type">
        <ng-container *ngSwitchCase="'meal'">
          <ion-label>
            <ion-icon name="restaurant"></ion-icon>
            {{ listItem.item.name }}
          </ion-label>
          <ion-button fill="clear" (click)="openEditMealModal(listItem.item)">
            <ion-icon name="create" mode="md" class="ion-float-right"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" (click)="removeTemplate(listItem.type, listItem.item)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ng-container>
      </ng-container>
    </ion-item>
  </ion-list>
</ion-content>
