<form class="full-height" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="flexible-container full-height">
    <ion-grid class="fixed-padding">
      <ion-row>
        <ion-col>
          <h4 class="bold">Contact Info</h4>
          <p class="info">This information is <em>solely</em> used for contacting contest participants with information,
            rewards, and prizes. You can skip this for now and add it later under your profile.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="global-input">
            <ion-label>Address</ion-label>
            <ion-input formControlName="address" type="text"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="global-input">
            <ion-label>City</ion-label>
            <ion-input formControlName="city" type="text"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="global-input">
            <ion-label>State</ion-label>
            <ion-input formControlName="state" type="text"></ion-input>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="global-input">
            <ion-label>Zip code</ion-label>
            <ion-input formControlName="postal_code" type="text"></ion-input>
          </div>
        </ion-col>
        <ion-col size="2">
          <div class="global-input">
            <ion-label>Country</ion-label>
            <ion-input formControlName="country" type="text"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="global-input">
            <ion-label>Phone</ion-label>
            <ion-input formControlName="phone" type="text"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="global-input">
            <ion-label>Instagram</ion-label>
            <ion-input formControlName="instagram" type="text"></ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div class="global-input">
            <ion-label>Twitter</ion-label>
            <ion-input formControlName="twitter" type="text"></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="mt-auto">
      <ion-button type="submit" class="ion-margin-vertical"
                  expand="full">{{ form.pristine || !form.dirty ? 'Add Later' : 'Next' }}</ion-button>
    </div>
  </div>
</form>
